[package]
name              = "neoprism-node"
version.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow             = { workspace = true }
async-trait        = { workspace = true }
axum               = { workspace = true }
clap               = { workspace = true, features = [ "derive", "env" ] }
chrono             = { workspace = true }
derive_more        = { workspace = true, features = [ "as_ref", "from", "into", "debug", "display", "error" ] }
dirs               = { workspace = true }
humantime          = { workspace = true }
lazybe             = { workspace = true, features = [ "openapi" ] }
maud               = { workspace = true, features = [ "axum" ] }
serde              = { workspace = true, features = [ "derive" ] }
sqlx               = { workspace = true, features = [ "runtime-tokio" ] }
tokio              = { workspace = true, features = [ "full" ] }
tracing            = { workspace = true }
tracing-subscriber = { workspace = true }
tower              = { workspace = true }
tower-http         = { workspace = true, features = [ "fs", "trace", "cors" ] }

utoipa        = { workspace = true, features = [ "chrono" ] }
utoipa-scalar = { workspace = true, features = [ "axum" ] }

identus-apollo              = { workspace = true, features = [ "hex", "jwk" ] }
identus-did-core            = { workspace = true, features = [ "openapi" ] }
identus-did-prism           = { workspace = true, features = [ "openapi" ] }
identus-did-prism-indexer   = { workspace = true, features = [ "oura", "dbsync", "blockfrost" ] }
identus-did-prism-ledger    = { workspace = true, features = [ "in-memory" ] }
identus-did-prism-submitter = { workspace = true, features = [ "cardano-wallet" ] }
identus-did-resolver-http   = { workspace = true, features = [ "openapi" ] }
node-storage                = { workspace = true, features = [ "sqlite-storage" ] }
